/* seccionTres */
.sectionTres { 
    padding: 20px 10px;
    margin: 40px auto;
    background-color: black;
    border-radius: 20px;
    @extend %flex;
    @extend %shadowSection;
    .imgBorder {
        width: $img-width;
        box-shadow: 0 1px 4px rgba(194, 50, 187, 0.8),
        -10px 0 10px -10px rgba(194, 50, 187, 0.8),
        10px 0 10px -10px rgba(194, 50, 187, 0.8),
        inset 0 0 10px rgba(194, 50, 187, 0.8);
        border-radius: 30px;
        background-color: rgba(146, 33, 140, 0.308);
    } 
}
/* fin de seccionTres */